// ### Primary

$blue-intro: hsl(217, 28%, 15%); //(intro and email sign up background)
$blue-main: hsl(218, 28%, 13%); //(main background)
$blue-footer: hsl(216, 53%, 9%); //(footer background)
$blue-testimonitals: hsl(219, 30%, 18%); //(testimonials background)

// ### Accent

$cyan: hsl(176, 68%, 64%); //(inside call-to-action gradient)
$blue: hsl(198, 60%, 50%); //(inside call-to-action gradient)
$light-red: hsl(0, 100%, 63%); //(error)

// ### Neutral

$white: hsl(0, 0%, 100%);
